body
{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#group
{
    text-align: center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    left: 50%;
}

#user
{
    text-align: center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    left: 50%;   
}

.chartsHolder
{
    text-align: center;
}

.tableHolder
{
    align-content: center;
    text-align: center;
    display: inline-block;
    background-color: white;
    border: 2px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, .5);
}


.scheduleContainer
{
    background-color: gray;
    width: 700px;
    word-wrap: break-word;
    margin: 10px;

}

.tableTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
}

.tile
{
    user-select: none;
    background-color: green;
    width: 98px;
    height: 19px;
    margin: 1px;
}

.collumnTitle
{
    user-select: none;
    display: table-cell;
    background-color: white;
    margin: 2px;
    width: 99px;
    height: 19px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.busyGroup
{
    user-select: none;
    display: table-cell;
    background-color: black;
    margin: 2px;
    width: 99px;
    height: 19px;
    text-align: center;
}

.optionsContainer
{
    margin: 5px;

}

.busyPersonal
{
    user-select: none;
    display: table-cell;
    background-color: red;
    margin: 2px;
    width: 99px;
    height: 19px;
    text-align: center;
}

.openBox
{
    user-select: none;
    display: table-cell;
    background-color: rgb(205, 205, 192);
    margin: 2px;
    width: 99px;
    height: 19px;
    text-align: center;
}

.Button
{
    background-color: #4CAF50;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    margin: 0px auto;
    position: relative;
}

.Button:hover
{
    background-color: rgb(53, 128, 56);
}

.Button:active
{
    background-color: rgb(70, 192, 74);
}

.mode
{
    transform: translate(-120px, -30px);
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
}

/* The switch - the box around the slider */
.switch 
{
    margin: 40px 0px 0px 0px;
    left: 50%;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: translate(-50%, 0px);
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(53, 128, 56);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(53, 128, 56);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }